.tile {
    list-style-type: none;
    font-size: 44px;
    padding: 25px;
}

table {
    overflow-x:auto;
}

td {
    background-color: white;
}

figcaption  {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 19px;
    font-weight: 500;
    font-style: italic;
}

.tile {
    font-family: 'Arial', sans-serif;

}
