* {
  box-sizing: border-box;
}

html { overflow-y: scroll;
width: auto;
}

.slider {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    overflow: visible;
    white-space:nowrap;
}

.slide-card {
    width: 100%;
}

.slider .slide-card {
    display: inline-block;
}

.slider .slide-card .cardIcon {
    width: 20%;
    height: 25%;
}


.slider .slide-card .topCard {
    height: 334px;
    padding-top: 80px;
}

.slider .slide-card .cardSubTitle {
    color: #cfcfcf;
}

.slider .slide-card .cardTitle {
    font-weight: bold;
}
